<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

 <div>
    <div >
        {{#each allMovies}}
        <div>
            <div >
                <img class="imagen" src="{{image}}" alt="moviesimage">
                <h2>{{title}}</h2>
                <a href="/movie/{{_id}}">See More</a>
            </div>
        </div>
        {{/each}}
    </div>